$card-wrapper: #B4B4B4;
$yellow: #FFF500;
$red: #FF0000;
$gray-100: #B4B4B4;
$gray-200: #D9D9D9;
$border-radius-xl: 6px;
$border-radius-3xl: 18px;

.card-test-wrapper {
  width: 300px;
  height: 400px;
  background-color: $card-wrapper;

  .yellow-square {
    height: 200px;
    width: 100px;
    background: yellow;
  }

}

.card-test-wrapper__yellow-square{
  height: 200px;
  background: blue;
}

